<footer class=" text-center text-white" style="background-color: #EE7094;">
 
    <!-- Grid container -->
    <div class="container p-4 pb-0" >
      <!-- Section: Social media -->
      <section class="mb-4" style="margin-top: 30px;">
        <!-- Email -->
        <a class="btn btn-outline-light btn-floating m-1 rounded-circle btn-lg" target="_blank" href="mailto:anaju1002@yahoo.com.br?" role="button" 
          ><i class="bi bi-envelope-open-heart"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1 rounded-circle btn-lg" target="_blank" href="https://www.instagram.com/anaju_moraes/" role="button"
          ><i class="bi bi-instagram"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1 rounded-circle btn-lg" target="_blank" href="https://www.linkedin.com/in/ana-julia-moraes-3028091b7/" role="button"
          ><i class="bi bi-linkedin"></i></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1 rounded-circle btn-lg" target="_blank" href="https://github.com/luadeprataart" role="button"
          ><i class="bi bi-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #b95773; margin-top: 30px;">
      © 2023 Copyright -
      <a>Ana Julia Moraes ♥</a>
    </div>
    <!-- Copyright -->
  </footer>