<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1 rounded-circle btn-lg" target="_blank" href="https://pt-br.facebook.com/anajulia.moraes.520900" role="button" 
          ><i class="bi bi-facebook"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1 rounded-circle btn-lg" target="_blank" href="https://www.instagram.com/anaju_moraes/" role="button"
          ><i class="bi bi-instagram"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1 rounded-circle btn-lg" target="_blank" href="https://www.linkedin.com/in/ana-julia-moraes-3028091b7/" role="button"
          ><i class="bi bi-linkedin"></i></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1 rounded-circle btn-lg" target="_blank" href="https://github.com/luadeprataart" role="button"
          ><i class="bi bi-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright -
      <a>Ana Julia Moraes ♥</a>
    </div>
    <!-- Copyright -->
  </footer>