body{
    background-color: #3E3042;
}

#divME{
    display: flex;
}
#div1ME {
    max-width: 50%;
    max-block-size: ;
    max-height: 20%;
    max-block-size: 920px;
    writing-mode: horizontal-tb;
   
}
#div2ME {
    width: 50%;
    height: 20%;
    z-index: 5;
    max-block-size: 920px;
    writing-mode: horizontal-tb;
    overflow:hidden;
}
#divtextME{
    position: relative;
    margin: 10%;
    color: white;
    z-index: 3;
    width: auto;
    height: 1px;
}

.triangulo{
    top: -100%;
    width: 1px;
    height: 1px;
    position: relative;
    z-index: 2;
    border: solid 600px transparent;
    border-bottom: solid 900px #118C76;
    border-top: none;
}
.triangulo-borda{
    top: -180%;
    width: 1px;
    height: 1px;
    position: relative;
    z-index: 1;
    border: solid 600px transparent;
    border-bottom: solid 900px #c8e686;
    border-top: none;
    
}

.circle-image {
    margin: 2%;
    display:inline-block;
    border-radius: 50%;
    width: auto;
    height: 800px;
    overflow:hidden;
  }
  .circle-image img {
    /*margin-top: -32%;
    margin-left: 0%;
    height: auto;
    width: 105%;
    object-fit:cover;
    transform: rotate(-12deg);
    position: relative;*/
  }

  .arrow {
    z-index: 7; 
    position: relative; 
    display: flex;  
    justify-content:end; 
    align-items: end;
    margin: 3%;
    margin-top: 50%;

  }


  
  